:root{
    --SkyBlue1: #DCEDFF ;
    --SkyBlue2 :#94b0da ;
    --Blue: #454ade;
    --DarkBlue: #1B1F3B;
  
  }
  header{
    position: relative;
    left:7%;
    background-color: white;
    color: var(--Blue);
  
    padding: 0.1%;
    min-width: 500px;
   
  }
  .bi{
    padding: 1rem;
  }
  .name{
    display: inline;
  }
  hr.line{
    width: 86%;
    margin-left: 0;
    border-top: 1.4px solid #bbb;
    border-bottom: 0px;
  }
  
  main{
    position: static;
    text-align: center;

    min-width: 400px;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 2rem;
  }
  
  .Essentialinfo{
    color: red;
    position: static;
  }

  #idInput{
    width: 20rem;
    height: 2rem;
    margin: 0.5rem;
    margin-top: 2rem;
  }
  #passwordInput{
    width: 20rem;
    height: 2rem;
    margin: 0.5rem;
  }

  #re-passwordInput{
    width: 20rem;
    height: 2rem;
    margin: 0.5rem;
  }

  #NickNameInput{
    width: 20rem;
    height: 2rem;
    margin: 0.5rem;
  }
  #NameInput{
    width: 20rem;
    height: 2rem;
    margin: 0.5rem;
  }
  #e-mailInput{
    width: 20rem;
    height: 2rem;
    margin: 0.5rem;
  }
 
  .Optionalinfo{
    position: static;
    margin-bottom: 3rem;
    margin-left: 15px;
  }

  #PhoneNumInput{
    width: 20rem;
    height: 2rem;
    margin: 0.5rem;
  }
 
  .joinButton{
    position: static;
    margin: 1rem;
    background-color: var(--Blue);
    color:  white;
    padding: 2%;
    text-align: center;
    font-size: 1rem;
  
    width: 50%;
    border: 0;
    border-radius: 1rem;
  }
  .joinButton:hover {
    background-color: var(--DarkBlue);
    color: white;
  }
  
  .AnotherLogIn{
    position: static;
    margin: 1rem;
    
  }
  .Naver{
    position: static;
  
    background-color: rgb(77, 193, 39);
    color:  rgb(248, 246, 246);
    padding: 2%;
    text-align: center;
    font-size: 0.8rem;
  
    width: 40%;
    border: 0;
    border-radius: 1rem;
  }
  .Naver:hover {
    background-color: #2DB400;
  }
  .Kakao{
    position: static;
  
    background-color: #FFEB34;
    color:  #222;
    padding: 2%;
    text-align: center;
    font-size: 0.8rem;
  
    width: 40%;
    border: 0;
    border-radius: 1rem;
  }
  .Kakao:hover {
    background-color: #f1de32;
    color: #222;
  }
  .Google{
    position: static;
  
    background-color: white;
    color:  	#808080;
    padding: 2%;
    text-align: center;
    font-size: 0.8rem;
  
    width: 40%;
    border-width: thin;
    border-color: #C0C0C0;
    border-radius: 1rem;
    margin-bottom: 6rem;
  }
  .Google:hover {
    background-color: #f5f5f5;
    
  }