<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../CSS/수요웹툰/wednsWebToonPage.css" />
    <title>수요웹툰</title>
  </head>
  <body>
    <div class="layoutContainer">
      <aside></aside>
      <section class="moreInfo-icon">
        <div class="profile-image">
          <img src="../../Background/window.jpeg" alt="window" />
        </div>
        <div class="userName"><u>웹프실습3팀</u></div>
        <ul class="sideBar-lists">
          <li class="sideBarComponent"><a href="#"></a>검색</li>
          <li class="sideBarComponent"><a href="#"></a>게시판</li>
          <li class="sideBarComponent"><a href="#"></a>웹툰</li>
          <li class="sideBarComponent"><a href="#"></a>보관함</li>
          <li class="sideBarComponent"><a href="#"></a>설정</li>
        </ul>
      </section>
      <div class="centerContainer">
        <header>
          <label class="moreInfo">
            <input type="button" value=">" class="sideBar"/>
          </label>

          <img id="webToonAd" src="../../CSS/webtoonAd/용사가돌아왔다.jpg" alt="wave" />
          <div class="circle">
            <!-- 버튼클릭시 광고웹툰이미지 변경 -->
            <button class="btn1" onclick="changeAd(1)"></button>
            <button class="btn2" onclick="changeAd(2)"></button>
            <button class="btn3" onclick="changeAd(3)"></button>
            <button class="btn4" onclick="changeAd(4)"></button>
            <button class="btn5" onclick="changeAd(5)"></button>
            <button class="btn6" onclick="changeAd(6)"></button>
            <button class="btn7" onclick="changeAd(7)"></button>
            <button class="btn8" onclick="changeAd(8)"></button>
          </div>
        </header>
        <nav>
          <!-- 요일별,신작, 완결별 버튼 클릭시 홈페이지 이동 -->
          <button type="button" class="Mon" onclick="transMon()">월</button>
          <button type="button" class="Tue" onclick="transTues()">화</button>
          <button type="button" class="Wed" onclick="transWedns()">수</button>
          <button type="button" class="Thu" onclick="transThurs()">목</button>
          <button type="button" class="Fri" onclick="transFri()">금</button>
          <button type="button" class="Sat" onclick="transSatur()">토</button>
          <button type="button" class="Sun" onclick="transSun()">일</button>
          <button type="button" class="New" onclick="transNew()">신작</button>
          <button type="button" class="End" onclick="transEnd()">완결</button>
        </nav>
        <section class="webToonList-grid">
          <!-- 전지적 독자 시점 -->
          <div class="webToonList" onclick="location.href='../월요웹툰/참교육/참교육.html'">
            <img
              class="thumbNail"
              src="../../CSS/수요웹툰/mainWebtoonImages/전지적독자시점.jfif"
              alt="전지적 독자 시점"
            />
            <div class="webToonInfo">
              <h1 class="webtoonInfoContent">전지적 독자 시점</h1>
              <h3 class="webtoonInfoContent">싱숑,UMI / 슬리피-C</h3>
              <h3 class="webtoonInfoContent">#스토리 #판타지</h3>
              <h4 class="webtoonInfoContent">★ 9.96</h4>
            </div>
          </div>
          <!-- 화산귀환 -->
          <div class="webToonList">
            <img
              class="thumbNail"
              src="../../CSS/수요웹툰/mainWebtoonImages/화산귀환.jfif"
              alt="화산귀환"
            />
            <div class="webToonInfo">
              <h1>화산귀환</h1>
              <h2>비가 / LICO</h2>
              <h3>#스토리 #시대극</h3>
              <h4>★ 9.97</h4>
            </div>
          </div>
          <!-- 캐슬 -->
          <div class="webToonList">
            <img
              class="thumbNail"
              src="../../CSS/수요웹툰/mainWebtoonImages/캐슬.jfif"
              alt="캐슬"
            />
            <div class="webToonInfo">
              <h1>캐슬</h1>
              <h2>정연</h2>
              <h3>#스토리 #드라마</h3>
              <h4>★ 9.88</h4>
            </div>
          </div>
          <!-- 튜토리얼 탑의 고인물 -->
          <div class="webToonList">
            <img
              class="thumbNail"
              src="../../CSS/수요웹툰/mainWebtoonImages/튜토리얼 탑의 고인물.png"
              alt="튜토리얼 탑의 고인물"
            />
            <div class="webToonInfo">
              <h1>튜토리얼 탑의 고인물</h1>
              <h2>방구석김씨 / 루비</h2>
              <h3>#스토리 #액션</h3>
              <h4>★ 9.94</h4>
            </div>
          </div>
          <!-- 일렉시드 -->
          <div class="webToonList">
            <img
              class="thumbNail"
              src="../../CSS/수요웹툰/mainWebtoonImages/일렉시드.jfif"
              alt="일렉시드"
            />
            <div class="webToonInfo">
              <h1>일렉시드</h1>
              <h2>손제호 / 제나</h2>
              <h3>#스토리 #액션</h3>
              <h4>★ 9.94</h4>
            </div>
          </div>
          <!-- 변방의 외노자 -->
          <div class="webToonList">
            <img
              class="thumbNail"
              src="../../CSS/수요웹툰/mainWebtoonImages/변방의외노자.jfif"
              alt="변방의 외노자"
            />
            <div class="webToonInfo">
              <h1>변방의 외노자</h1>
              <h2>후로스트, 턍 / 북국너구리</h2>
              <h3>#스토리 #판타지</h3>
              <h4>★ 9.82</h4>
            </div>
          </div>
          <!-- 여주실격! -->
          <div class="webToonList">
            <img
              class="thumbNail"
              src="../../CSS/수요웹툰/mainWebtoonImages/여주실격!.jfif"
              alt="여주실격!"
            />
            <div class="webToonInfo">
              <h1>여주실격!</h1>
              <h2>기맹기</h2>
              <h3>#스토리 #드라마</h3>
              <h4>★ 9.98</h4>
            </div>
          </div>
          <!-- 세상은 돈과 권력 -->
          <div class="webToonList">
            <img
              class="thumbNail"
              src="../../CSS/수요웹툰/mainWebtoonImages/세상은돈과권력.jfif"
              alt="세상은 돈과 권력"
            />
            <div class="webToonInfo">
              <h1>세상은 돈과 권력</h1>
              <h2>한동우 / 이도희</h2>
              <h3>#에피소드 #드라마</h3>
              <h4>★ 9.94</h4>
            </div>
          </div>
          <!-- 나쁜사람 -->
          <div class="webToonList">
            <img
              class="thumbNail"
              src="../../CSS/수요웹툰/mainWebtoonImages/나쁜사람.jfif"
              alt="나쁜사람"
            />
            <div class="webToonInfo">
              <h1>나쁜사람</h1>
              <h2>둠스</h2>
              <h3>#에피소드 #개그</h3>
              <h4>★9.78</h4>
            </div>
          </div>
          <!-- 빌드업 -->
          <div class="webToonList">
            <img
              class="thumbNail"
              src="../../CSS/수요웹툰/mainWebtoonImages/빌드업.jfif"
              alt="빌드업"
            />
            <div class="webToonInfo">
              <h1>빌드업</h1>
              <h2>911</h2>
              <h3>#스토리 #스포츠</h3>
              <h4>★ 9.96</h4>
            </div>
          </div>
          <!-- 미래의 골동품 가게 -->
          <div class="webToonList">
            <img
              class="thumbNail"
              src="../../CSS/수요웹툰/mainWebtoonImages/미래의골동품가게.jfif"
              alt="미래의 골동품가게"
            />
            <div class="webToonInfo">
              <h1>미래의 골동품 가게</h1>
              <h2>구아진</h2>
              <h3>#스토리, #스릴러</h3>
              <h4>★ 9.83</h4>
            </div>
          </div>
          <!-- 내 남편과 결혼해줘 -->
          <div class="webToonList">
            <img
              class="thumbNail"
              src="../../CSS/수요웹툰/mainWebtoonImages/내남편과결혼해줘.png"
              alt="내 남편과 결혼해줘"
            />
            <div class="webToonInfo">
              <h1>내 남편과 결혼해줘</h1>
              <h2>성소작 / LICO</h2>
              <h3>#스토리 #로맨스</h3>
              <h4>★ 9.93</h4>
            </div>
          </div>
        </section>
      </div>
      <aside></aside>
    </div>
    <script src="../../JS/수요웹툰/wednsWebToonPage.js"></script>
  </body>
</html>
