<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../CSS/신작웹툰/newWebToonPage.css" />
    <title>신작웹툰</title>
  </head>
  <body>
    <div class="layoutContainer">
      <aside></aside>
      <section class="moreInfo-icon">
        <div class="profile-image">
          <img src="../../Background/window.jpeg" alt="window" />
        </div>
        <div class="userName"><u>웹프실습3팀</u></div>
        <ul class="sideBar-lists">
          <li class="sideBarComponent"><a href="#"></a>검색</li>
          <li class="sideBarComponent"><a href="#"></a>게시판</li>
          <li class="sideBarComponent"><a href="#"></a>웹툰</li>
          <li class="sideBarComponent"><a href="#"></a>보관함</li>
          <li class="sideBarComponent"><a href="#"></a>설정</li>
        </ul>
      </section>
      <div class="centerContainer">
        <header>
          <label class="moreInfo">
            <input type="button" value=">" class="sideBar"/>
          </label>

          <img id="webToonAd" src="../../CSS/webtoonAd/용사가돌아왔다.jpg" alt="wave" />
          <div class="circle">
            <!-- 버튼클릭시 광고웹툰이미지 변경 -->
            <button class="btn1" onclick="changeAd(1)"></button>
            <button class="btn2" onclick="changeAd(2)"></button>
            <button class="btn3" onclick="changeAd(3)"></button>
            <button class="btn4" onclick="changeAd(4)"></button>
            <button class="btn5" onclick="changeAd(5)"></button>
            <button class="btn6" onclick="changeAd(6)"></button>
            <button class="btn7" onclick="changeAd(7)"></button>
            <button class="btn8" onclick="changeAd(8)"></button>
          </div>
        </header>
        <nav>
          <!-- 요일별,신작, 완결별 버튼 클릭시 홈페이지 이동 -->
          <button type="button" class="Mon" onclick="transMon()">월</button>
          <button type="button" class="Tue" onclick="transTues()">화</button>
          <button type="button" class="Wed" onclick="transWedns()">수</button>
          <button type="button" class="Thu" onclick="transThurs()">목</button>
          <button type="button" class="Fri" onclick="transFri()">금</button>
          <button type="button" class="Sat" onclick="transSatur()">토</button>
          <button type="button" class="Sun" onclick="transSun()">일</button>
          <button type="button" class="New" onclick="transNew()">신작</button>
          <button type="button" class="End" onclick="transEnd()">완결</button>
        </nav>
        <section class="webToonList-grid">
          <!-- 존망코인 -->
          <div class="webToonList" onclick="location.href='../신작웹툰/존망코인/존망코인.html'">
            <img
              class="thumbNail"
              src="../../CSS/신작웹툰/mainWebtoonImages/존망코인.jpg"
              alt="존망코인"
            />
            <div class="webToonInfo">
              <h1 class="webtoonInfoContent">존망코인</h1>
              <h3 class="webtoonInfoContent">박태준 만화회사</h3>
              <h3 class="webtoonInfoContent">#스토리 #스릴러</h3>
              <h4 class="webtoonInfoContent">★ 8.92</h4>
            </div>
          </div>
          <!-- 그 해 우리는 - 초여름이 좋아! -->
          <div class="webToonList" onclick="location.href='../신작웹툰/그해우리는-초여름이좋아!/그해우리는-초여름이좋아!.html'">
            <img
              class="thumbNail"
              src="../../CSS/신작웹툰/mainWebtoonImages/그해우리는-초여름이좋아!.jfif"
              alt="그 해 우리는 - 초여름이 좋아!"
            />
            <div class="webToonInfo">
              <h1>그 해 우리는 - 초여름이 좋아!</h1>
              <h2>한경찰</h2>
              <h3>#스토리 #로맨스</h3>
              <h4>★ 9.97</h4>
            </div>
          </div>
          <!-- 후궁 스캔들 -->
          <div class="webToonList" onclick="location.href='../신작웹툰/후궁스캔들/후궁스캔들.html'">
            <img
              class="thumbNail"
              src="../../CSS/신작웹툰/mainWebtoonImages/후궁스캔들.jpg"
              alt="후궁 스캔들"
            />
            <div class="webToonInfo">
              <h1>후궁 스캔들</h1>
              <h2>정현 / 기트로우</h2>
              <h3>#스토리 #로맨스</h3>
              <h4>★ 9.94</h4>
            </div>
          </div>
          <!-- 봐선 안되는 것 -->
          <div class="webToonList" onclick="location.href='../신작웹툰/봐선안되는것/봐선안되는것.html'">
            <img
              class="thumbNail"
              src="../../CSS/신작웹툰/mainWebtoonImages/봐선안되는것.jpg"
              alt="봐선 안되는 것"
            />
            <div class="webToonInfo">
              <h1>봐선 안되는 것</h1>
              <h2>수리부</h2>
              <h3>#옴니버스 #스릴러</h3>
              <h4>★ 9.58</h4>
            </div>
          </div>
          <!-- 희란국연가 -->
          <div class="webToonList" onclick="location.href='../신작웹툰/희란국연가/희란국연가.html'">
            <img
              class="thumbNail"
              src="../../CSS/신작웹툰/mainWebtoonImages/희란국연가.jpg"
              alt="희란국연가"
            />
            <div class="webToonInfo">
              <h1>희란국연가</h1>
              <h2>김수지 / MIDNIGHT STUDIO</h2>
              <h3>#스토리 #로맨스</h3>
              <h4>★ 9.97</h4>
            </div>
          </div>
          <!-- 미혼남녀의 효율적 만남 -->
          <div class="webToonList" onclick="location.href='../신작웹툰/미혼남녀의효율적만남/미혼남녀의효율적만남.html'">
            <img
              class="thumbNail"
              src="../../CSS/신작웹툰/mainWebtoonImages/미혼남녀의효율적만남.jpg"
              alt="미혼남녀의 효율적 만남"
            />
            <div class="webToonInfo">
              <h1>미혼남녀의 효율적 만남</h1>
              <h2>타리</h2>
              <h3>#스토리 #로맨스</h3>
              <h4>★ 9.96</h4>
            </div>
          </div>
          <!-- 만능잡캐 -->
          <div class="webToonList" onclick="location.href='../신작웹툰/만능잡캐/만능잡캐.html'">
            <img
              class="thumbNail"
              src="../../CSS/신작웹툰/mainWebtoonImages/만능잡캐.jpg"
              alt="만능잡캐"
            />
            <div class="webToonInfo">
              <h1>만능잡캐</h1>
              <h2>키보드만세, 홍실</h2>
              <h3>#스토리 #판타지</h3>
              <h4>★ 9.70</h4>
            </div>
          </div>
          <!-- 온에어 -->
          <div class="webToonList" onclick="location.href='../신작웹툰/온에어/온에어.html'">
            <img
              class="thumbNail"
              src="../../CSS/신작웹툰/mainWebtoonImages/온에어.jpg"
              alt="온에어"
            />
            <div class="webToonInfo">
              <h1>온에어</h1>
              <h2>심복일</h2>
              <h3>#스토리 #스릴러</h3>
              <h4>★ 9.83</h4>
            </div>
          </div>
          <!-- 현실퀘스트 -->
          <div class="webToonList" onclick="location.href='../신작웹툰/현실퀘스트/현실퀘스트.html'">
            <img
              class="thumbNail"
              src="../../CSS/신작웹툰/mainWebtoonImages/현실퀘스트.jfif"
              alt="현실퀘스트"
            />
            <div class="webToonInfo">
              <h1>현실퀘스트</h1>
              <h2>이주운 / 태성</h2>
              <h3>#스토리 #액션</h3>
              <h4>★9.82</h4>
            </div>
          </div>
          <!-- 재난소년 -->
          <div class="webToonList" onclick="location.href='../신작웹툰/재난소년/재난소년.html'">
            <img
              class="thumbNail"
              src="../../CSS/신작웹툰/mainWebtoonImages/재난소년.jpg"
              alt="재난소년"
            />
            <div class="webToonInfo">
              <h1>재난소년</h1>
              <h2>코말랑</h2>
              <h3>#스토리 #판타지</h3>
              <h4>★ 9.70</h4>
            </div>
          </div>
          <!-- 헤어지면 죽음 -->
          <div class="webToonList" onclick="location.href='../신작웹툰/헤어지면죽음/헤어지면죽음.html'">
            <img
              class="thumbNail"
              src="../../CSS/신작웹툰/mainWebtoonImages/헤어지면죽음.jfif"
              alt="헤어지면 죽음"
            />
            <div class="webToonInfo">
              <h1>헤어지면 죽음</h1>
              <h2>봄소희 / KYMA</h2>
              <h3>#스토리 #로맨스</h3>
              <h4>★ 9.49</h4>
            </div>
          </div>
          <!-- 신군 -->
          <div class="webToonList" onclick="location.href='../신작웹툰/신군/신군.html'">
            <img
              class="thumbNail"
              src="../../CSS/신작웹툰/mainWebtoonImages/신군.jpg"
              alt="신군"
            />
            <div class="webToonInfo">
              <h1>신군</h1>
              <h2>규남</h2>
              <h3>#스토리 #액션</h3>
              <h4>★ 9.88</h4>
            </div>
          </div>
        </section>
      </div>
      <aside></aside>
    </div>
    <script src="../../JS/신작웹툰/newWebToonPage.js"></script>
  </body>
</html>
