<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/SaveBox.css">
    <title>Saving Box</title>
</head>
<body>
    <div class = "Side_margin">
        <div></div>
        <div class = "SaveBox_Layout">
            <!-- 사이드바 클릭시 나오는 부분 구현-->
            <section class = "moreInfo-icon">
              <!-- 프로필 이미지 -->
              <div class = "profile-image">
                <img src="../프로필이미지/물결.jpeg" alt="물결">
              </div>
              <div class = "userName"><U>Username</U></div>

              <ul class = "sideBar-lists">
                <li class = "sideBarComponent"><a href="#">공지 사항</a></li>
                <li class = "sideBarComponent"><a href="#"></a>게시판</li>
                <li class = "sideBarComponent"><a href="#"></a>웹툰</li>
              </ul>
            </section>
            <!--  -->
            <header> 
              <!-- 사이드바 버튼 -->
              <label class = "moreInfo">
                <input type = "button" value=">" class = "sideBar">
              </label>
              <!--     -->
              <div class = SavaBox_title>보관함</div> 
            </header>
            <nav class>
                <button class = "Continue_webtoon">이어보기</button>
                <button class = "Like_webtoon">❤</button>
            </nav>
                <main class = "SaveBox_Webtoon_list">
                    <div class = "Webtoon_list">
                      <img class = "thumbNail" src="../웹툰대표이미지들/금요웹툰/세기말풋사과보습학원.jfif" alt="세기말풋사과보습학원"/>
                      <div class = "webToonInfo">
                        <h2>세기말 풋사과 보습학원</h2>
                        <h3>Author</h3>
                        <h3>Content</h3>
                        <h4>Rate</h4>
                      </div>
                    </div>                       
                    <div class = "Webtoon_list">
                      <img class = "thumbNail" src="../웹툰대표이미지들/목요웹툰/오빠세끼.jfif" alt="오빠세끼"/>
                      <div class = "webToonInfo">
                        <h2>오빠세끼</h2>
                        <h3>Author</h3>
                        <h3>Content</h3>
                        <h4>Rate</h4>
                      </div> 
                    </div>
                    <div class = "Webtoon_list">
                      <img class = "thumbNail" src="../웹툰대표이미지들/수요웹툰/세상은돈과권력.jfif" alt ="세상은돈과권력"/>
                      <div class = "webToonInfo">
                        <h2>세상은 돈과 권력</h2>
                        <h3>Author</h3>
                        <h3>Content</h3>
                        <h4>Rate</h4>
                      </div> 
                    </div>
                    <div class = "Webtoon_list">
                      <img class = "thumbNail" src="../웹툰대표이미지들/신작웹툰/신군.jpg" alt="신군"/>
                      <div class = "webToonInfo">
                        <h2>신군</h2>
                        <h3>Author</h3>
                        <h3>Content</h3>
                        <h4>Rate</h4>
                      </div> 
                    </div>
                    <div class = "Webtoon_list">
                      <img class = "thumbNail" src="../웹툰대표이미지들/월요웹툰/소녀의세계.jpg" alt="소녀의세계"/>
                      <div class = "webToonInfo">
                        <h2>소녀의 세계</h2>
                        <h3>Author</h3>
                        <h3>Content</h3>
                        <h4>Rate</h4>
                      </div> 
                    </div>
                    <div class = "Webtoon_list">
                      <img class = "thumbNail" src="../웹툰대표이미지들/일요웹툰/살아남은로맨스.jfif" alt="살아남은로맨스"/>
                      <div class = "webToonInfo">
                        <h2>살아남은 로맨스</h2>
                        <h3>Author</h3>
                        <h3>Content</h3>
                        <h4>Rate</h4>
                      </div> 
                    </div>
                    <div class = "Webtoon_list">
                      <img class = "thumbNail" src="../웹툰대표이미지들/토요웹툰/반드시해피엔딩.jfif" alt="반드시해피엔딩"/>
                      <div class = "webToonInfo">
                        <h2>반드시 해피엔딩</h2>
                        <h3>Author</h3>
                        <h3>Content</h3>
                        <h4>Rate</h4>
                      </div> 
                    </div>
                    <div class = "Webtoon_list">
                      <img class = "thumbNail" src="../웹툰대표이미지들/화요웹툰/하루만네가되고싶어.jfif" alt="하루만네가되고싶어"/>
                      <div class = "webToonInfo">
                        <h2>하루만 네가 되고싶어</h2>
                        <h3>Author</h3>
                        <h3>Content</h3>
                        <h4>Rate</h4>
                      </div>  
                    </div>               
                </main>
        </div>    
        <div></div>
    </div>   
    <script src="../JS/SaveBox.js"></script>
</body>
</html>