<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/terms_of_service.css">
    <title>서비스 약관</title>
</head>
<body>
         <!-- <header> = 상단바-->
            <header>
                <div>
                    <section class="moreInfo-icon">
        
                        <label class="closeside">
                        <i class="bi bi-arrow-left fs-1"></i><input type="button" class="closesideBar"></i> 
                        </label>
        
                        <div class="profile-image">
                            <a onclick="location.href='./profile.html'"><img src="./../Background/window.jpeg" alt="window" /></a>
                        </div>
                        
                        <div class="userName" onclick="location.href='../Components/rogin.html'"><u>웹프실습3팀</u></div>
                        <ul class="sideBar-lists">
                            <li class="sideBarComponent" onclick="location.href='./search.html'"><a>검색</a></li>
                            <li class="sideBarComponent" onclick="location.href='./notice.html'"><a>게시판</a></li>
                            <li class="sideBarComponent" onclick="location.href='./SaveBox.html'"><a>보관함</a></li>
                            <li class="sideBarComponent" onclick="location.href='./랜덤웹툰페이지/랜덤웹툰페이지.html'"><a>랜덤웹툰추천</a></li>
                            <li class="sideBarComponent" onclick="location.href='./Setting.html'"><a>설정</a></li>
                        </ul>
                    </section>
                </div>
                <label class="moreInfo">
                    <i class="bi bi-list fs-1"></i><input type="button"class="sideBar"></i> 
                </label>
                
                <h2 class ="name" onclick="setMainforweekDay();">개척웹툰</h2>
                <div class = "collection">
                    <i class="bi bi-collection fs-2" onclick="location.href='./SaveBox.html'"></i>    
                </div>
                <div class ="search">
                    <i class="bi bi-search fs-2" onclick="location.href='./search.html'"></i>   
                </div>
        
                <hr class = "line">
            </header>
            <!--상단바 끝-->


            <main>
                <h2 class ="webtoon">A+을 준다.</h2>
            </main>
    
    <script src = "../JS/terms_of_service.js"></script>
</body>
</html>