<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./practice.css" />
    <title>Practice</title>
  </head>
  <body>
    <div class="layoutContainer">
      <aside></aside>
      <section class = "moreInfo-icon">
        <div class = "profile-image">
          <img src="./배경/window.jpeg" alt="window">
        </div>
        <div class = "userName"><U>Username</U></div>
        <ul class = "sideBar-lists">
          <li class = "sideBarComponent"><a href="#">공지 사항</a></li>
          <li class = "sideBarComponent"><a href="#"></a>게시판</li>
          <li class = "sideBarComponent"><a href="#"></a>웹툰</li>
        </ul>
      </section>
      <div class="centerContainer"> 
        <header>

          <label class = "moreInfo">
            <input type = "button" value=">" class = "sideBar">
          </label>
          
          <img id = "webToonAd" src="./배경/홀로그램.jpg" alt="wave" />
          <div class = "circle">
            <button class = "btn1" onclick="changeAd(1)"></button>
            <button class = "btn2" onclick="changeAd(2)"></button>
            <button class = "btn3" onclick="changeAd(3)"></button>
          </div>          
        </header>
        <nav>
          <button type="button" class="Mon">월</button>
          <button type="button" class="Tue">화</button>
          <button type="button" class="Wed">수</button>
          <button type="button" class="Thu">목</button>
          <button type="button" class="Fri">금</button>
          <button type="button" class="Sat">토</button>
          <button type="button" class="Sun">일</button>
          <button type="button" class="New">신작</button>
          <button type="button" class="End">완결</button>
        </nav>
        <section class = "webToonList-grid">
          <div class="webToonList">
            <img class = "thumbNail" src="./배경/홀로그램.jpg" alt="holo" />
            <div class = "webToonInfo">
              <h1>Title</h1>
              <h3>Author</h3>
              <h3>Content</h3>
              <h4>Rate</h4>
            </div>  
          </div>
          <div class="webToonList">
            <img class = "thumbNail" src="./배경/홀로그램.jpg" alt="holo" />
            <div class = "webToonInfo">
              <h1>Title</h1>
              <h2>Author</h2>
              <h3>Content</h3>
              <h4>Rate</h4>
            </div>  
          </div>
          <div class="webToonList">
            <img class = "thumbNail" src="./배경/홀로그램.jpg" alt="holo" />
            <div class = "webToonInfo">
              <h1>Title</h1>
              <h2>Author</h2>
              <h3>Content</h3>
              <h4>Rate</h4>
            </div>  
          </div>
          <div class="webToonList">
            <img class = "thumbNail" src="./배경/홀로그램.jpg" alt="holo" />
            <div class = "webToonInfo">
              <h1>Title</h1>
              <h2>Author</h2>
              <h3>Content</h3>
              <h4>Rate</h4>
            </div>  
          </div>
          <div class="webToonList">
            <img class = "thumbNail" src="./배경/홀로그램.jpg" alt="holo" />
            <div class = "webToonInfo">
              <h1>Title</h1>
              <h2>Author</h2>
              <h3>Content</h3>
              <h4>Rate</h4>
            </div>  
          </div>
          <div class="webToonList">
            <img class = "thumbNail" src="./배경/홀로그램.jpg" alt="holo" />
            <div class = "webToonInfo">
              <h1>Title</h1>
              <h2>Author</h2>
              <h3>Content</h3>
              <h4>Rate</h4>
            </div>  
          </div>
          <div class="webToonList">
            <img class = "thumbNail" src="./배경/홀로그램.jpg" alt="holo" />
            <div class = "webToonInfo">
              <h1>Title</h1>
              <h2>Author</h2>
              <h3>Content</h3>
              <h4>Rate</h4>
            </div>  
          </div>
          <div class="webToonList">
            <img class = "thumbNail" src="./배경/홀로그램.jpg" alt="holo" />
            <div class = "webToonInfo">
              <h1>Title</h1>
              <h2>Author</h2>
              <h3>Content</h3>
              <h4>Rate</h4>
            </div>  
          </div>
          <div class="webToonList">
            <img class = "thumbNail" src="./배경/홀로그램.jpg" alt="holo" />
            <div class = "webToonInfo">
              <h1>Title</h1>
              <h2>Author</h2>
              <h3>Content</h3>
              <h4>Rate</h4>
            </div>  
          </div>
          <div class="webToonList">
            <img class = "thumbNail" src="./배경/홀로그램.jpg" alt="holo" />
            <div class = "webToonInfo">
              <h1>Title</h1>
              <h2>Author</h2>
              <h3>Content</h3>
              <h4>Rate</h4>
            </div>  
          </div>
          <div class="webToonList">
            <img class = "thumbNail" src="./배경/홀로그램.jpg" alt="holo" />
            <div class = "webToonInfo">
              <h1>Title</h1>
              <h2>Author</h2>
              <h3>Content</h3>
              <h4>Rate</h4>
            </div>  
          </div>
          <div class="webToonList">
            <img class = "thumbNail" src="./배경/홀로그램.jpg" alt="holo" />
            <div class = "webToonInfo">
              <h1>Title</h1>
              <h2>Author</h2>
              <h3>Content</h3>
              <h4>Rate</h4>
            </div>  
          </div>
        </section>
      </div>
      <aside></aside>
    </div>
  <script src = "./practice.js"></script>
  </body>
</html>
