<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/WebToonPage.css">
    <title>WebToonPage</title>
</head>
<body class = "container">
    <aside></aside>
    <div class = "mainLayout">
        <nav>
            <img class = "back" src="../Background/back_white.png" alt="">
            <img class = "likeWebtoon" src="../Background/like_white.png" alt="">
            <img class = "shareWebtoon" src="../Background/share_white.png" alt="">
        </nav>
        <header></header>
        <section></section>
        <main></main>
    </div>
    <aside></aside>
</body>
</html>